/aclocal.m4
/giella-core.pc
/configure
/config.status
/config.log
/autom4te.cache
/build-aux
Makefile.in
Makefile
/scripts/gt-version.sh
/scripts/gt-core.sh
.DS_Store
__pycache__/
/scripts/make-hfstspeller-version-easter-egg.sh
/configure~
/scripts/generate-nfc-nfd-regex.bash
/scripts/generate-nfd-nfc-regex.bash
