.DS_Store
/aclocal.m4
/autom4te.cache
/build-aux
/config.log
/config.status
/configure
/configure~
/giella-core.pc
/scripts/generate-nfc-nfd-regex.bash
/scripts/generate-nfd-nfc-regex.bash
/scripts/gt-core.sh
/scripts/gt-version.sh
/scripts/make-hfstspeller-version-easter-egg.sh
/scripts/run-morph-tester.sh
/scripts/run-yaml-testcases.sh
Makefile
Makefile.in
__pycache__/
.vscode
