/* A CSS stylesheet to make speller test result xml files readable in
 * browsers.
 */

spelltestresult, header {
    display: block;
    margin: 0.5em
}

header engine::before {
    content: 'Engine: ' ;
    display: inline-block ;
}
engine::after {
    content: open-quote attr(abbreviation) close-quote ;
    display: inline-block ;
}
toolversion { display: none ;}

document::before {
    content: 'Document: ' ;
    display: inline-block ;
}
document {
    display: block ;
}

timestamp::before {
    content: 'Test date and time: ' ;
    display: inline-block ;
}
timestamp {
    display: block ;
}

truefalsesummary::before {
    content: open-quote 'Precision & recall, total word count: ' attr(wordcount) close-quote ;
    display: block ;
}

truefalsesummary original::before {
    content: open-quote 'Original — correct: ' attr(correct) ', typos: ' attr(error) close-quote ;
    display: block ;
}


/* The output of the speller: */
results {
    display: table;
}

word {
    display: table-row;
    border-color: gray ;
    border-width: 2px ;
    margin: 1em ;
}

speller[status=correct] + expected {
    background-color: rgb(255, 125, 125) ;
}

original, expected, edit_dist, suggestions {
    display: table-cell;
    border-width: 2px ;
}

speller, position {
    display: none;
}

suggestion {
    display: list-item ;
    margin-left: 2em ;
}

suggestion[expected] {
    background-color: lime ;
}

word:nth-child(2n+1) {
  background-color: rgb(216, 216, 216);
}
