@charset "utf-8";
@import "gt_dictionary_XXE_shared.css";

/* This is the css file for the XXE "Dictionary view" */

r, rootdict {
    background-color: #fff;
}

/* tg styling: */
tg + tg:before {
    content: "; ";
}
dg {
    display: inline;
}

dg d {
    font-style: italic;
}

d:after {
        content: "; ";
}

dg + tg {
    display: block;
}
tg {
    display: inline;
}

re {
    display: inline;
}

/* t styling: */
syn + syn:before,
t  +  t:before,
te +  t:before,
tf +  t:before,
t  + tf:before,
te + tf:before,
tf + tf:before {
    content: ", ";
}
t:after {
    content: ", "
}
d, t, tf, te, orig {
    display: inline;
}
d + l + t + i {
    margin-left: +.35em;
}

/* xg, x, xt styling: */
te + xg:before, tf + xg:before {
    margin-left: 0.5ex;
    content: " ";
}

xg + xg:before {
    display: inline;
    content: "; ";
}

xg x {
    font-style: italic;
}

/* inline */
ig + ig:before {
    display: block;
    content: "Dajaldagat: ";
    content: "; ";
}

/*
ig {
    display: inline;
    content: "; ";
}*/

ig i {
    font-style: italic;
}

i:after {
        content: "; ";
}

ig id {
}

id:before {
    color: gray;
    content: " (";
}

id:after {
    color: gray;
    content: ") ";
}

/* syng, syn styling: */
syng {
    display: inline;
}

syn {
    display: inline;
}


/* Her kjem tillegga for sme-oahpa: */

tr + tr:before {
    content: "; ";
}

