r, rootdict {
    display: block;
    border: 1 solid gray;
    margin: 1ex;
    background-color: #fff;
}

lics {
    display: block;
}

lics:before {
    content: "Copyright Notes";
    display: block;
    font-weight: bold;
    margin-bottom: 21px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 21px;
}

lic {
    display: block;
    margin: 18px;
}

ref:before {
    display: block;
    content: "Please refer to this source code with the following attribution text:";
   	font-weight: bold;
   	font-size: smaller;
}

ref {
    display: block;
    margin: 18px;
}

sourcenote {
    display: block;
    font-weight: bold;
    margin: 18px;
    border-bottom: 1px inset gray; /* doesn't work in XMLEditor */
    padding-bottom: 18px;
}

a {
    display: inline;
    cursor: pointer; /* cursor isn't supported in XMLEditor */
    cursor: hand;
}

e {
    display: block;
    collapsible: yes;
    not-collapsible-head: 1;
    margin-bottom: 0.5ex;
    counter-reset: meaninggroups;
    padding: 0.3ex;
    border: 1px ridge #eee;
}
e:nth-child(even) {background-color: #eee}
e:nth-child(odd)  {border: none}

l {
    font-weight: bold;
}
l:after {
    display: inline;
    content: attr(pos);
    font-style: italic;
    font-size: small;
    vertical-align: super;
    text-transform: capitalize;
    color: gray;
}

lc {
    font-style: italic;
    font-size: smaller;
}

lc:before {
    font-style: italic;
    font-size:small;
}

e > mg:before {
	display: inline;
	counter-increment: meaninggroups;
    content: counter(meaninggroups, decimal) ". ";
}
mg {
    display: block;
    margin-bottom: 1.33ex;
    margin-left: 1.33ex;
}

tg + tg:before {
    content: "; ";
}
tg {
    display: inline;
}

t + t:before {
    content: ", ";
    font-style: italic;
}
t {
    display: inline;
    collapsible: yes;
    not-collapsible-head: 1;
    margin-bottom: 1.33ex;
}
t:after {
    display: inline;
    font-style: italic;
    color: gray;
    font-size: small;
    vertical-align: super;
    text-transform: capitalize;
}

t[pos]:after {
    content: attr(pos);
}

xg:before {
    content: " ";
}

xg x {
    font-style: italic;
}

xt:before {
    font-style: italic;
    color: gray;
    content: " = ";
}
